.my-component-2 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.my-component-2 button {
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
}

.my-component-2 .counter {
  color: #fff;
  padding: 8px 20px;
}

.my-component-2 .counter.even {
  background: #337;
}

.my-component-2 .counter.odd {
  background: #733;
}
